.shipping-form {
  display: flex;
  flex-direction: column;
}
.shipping-form input {
  /* display: block; */

  margin-top: 30px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
}
.shipping-form input:focus {
  background-color: #ddd;
  outline: none;
  border-color: goldenrod;
}

.error {
  color: red;
}
.btn-submit {
  background-color: goldenrod;
  font-weight: 800;
  padding: 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 200px;
  opacity: 0.9;
}
.btn-submit:hover {
  opacity: 1;
}
